.custom-control-label::after, .custom-control-label::before {
    display: none;
}

.logo-cus {
    width: 120px;
}

.logo-cus img {
    width: 100%;
}

.exam-content {
    padding: 50px 0;
}

.single-courses-item {
    position: relative;
}

.checkout-cart {
    display: table;
    margin: 50px auto 0;
}

.exam-submit {
    margin-top: 20px;
}

.dropdown {
    position: relative;
}

.btn-fix {
    position: absolute;
    top: -50px;
    right: 0;
}

.pagination-fix {
    display: table;
    margin: 20px auto;
}

.twitter-typeahead {
    width: 100%;
}

.tt-input {
    width: 100%;
}

.check-exam {
    padding: 5px;
    font-size: 10px;
    border: 1px;
    border-radius: 10px;
}

.check-right {
    background-color: #17a2b8;
    color: white;

}

.check-wrong {
    background-color: red;
    color: white;
}

.course--price {
    margin: 0 0 10px 0;
}

.img--item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

h3 a {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.check-submit{
    display: table;
    margin: 40px auto;
}

.form-exam{
    margin-top: 50px;
}

.img--mycourse img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
